*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

/* ---------------Variables------------- */
:root{
    --reddish: #d62323; 
}

body{
    margin:0;
    padding:0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

/*------------------------Main--------------------------*/
main{
    color:white;
    background-color: black;
    text-align: center;
    margin-bottom: 3rem;
}

.heading{
    font-size:4em;
}


/*-----------------Nav Bar----------------*/
.navbar{
    /* background-color: var(--reddish); */
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 13%, rgba(214,35,35,1) 51%, rgba(255,255,255,1) 100%);
    display:flex;
    justify-content: space-between;
    align-items:center;
    /* max-height: 14vh; */
}

.logo{
    max-height: 200px;
}

.current-page::after{
    background-color: white;
    display:inline-block;
    width: 100%;
    content:' ';
    height:0.3em;
}

.nav-menu{
    display:flex;
}

.nav-menu li{
    list-style: none;
}

.nav-menu a{
    text-decoration: none;
    color:black;
    font-weight:900;
    font-size: 1.5em;
    display:block;
    padding: 1rem;
}

.nav-menu a:hover{
    background-color: black;
    color: white;
}

/*------Toggle button--------*/
.toggle-button{
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    right:1em;
    top:2.2em;
    display:none;
    width:2.2em;
    height:2.2em;
}

.toggle-bar{
    background-color: black;
    height: 0.3em;
    width: 100%;
    border-radius: 0.6em;
}

/*---------Navbar For mobile phones & tablets:---------*/
@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar{
        flex-direction:column;
        align-items:flex-start;
    }

    .nav-menu{
        display:none;
        flex-direction: column;
        width:100%;
        margin:0;
        padding:0;
        /* align-items: center; */
    }

    .nav-menu a{
        color:white;
    }
    .nav-menu li{
        text-align: center;
    }
    

    .current-page::after{
        display:none;
    }

    .nav-menu.active{
        display: flex;
    }
}

 


/*----------Footer-----------*/
.footer{
    /* This actually places footer at the bottom */
    margin-top:auto;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 13%, rgba(214,35,35,1) 51%, rgba(255,255,255,1) 100%);
    color: white;
    font-size: 1.2em;
    height: 6rem;
    display:flex;
    justify-content: space-around;
    align-items:center;
}

.social{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 1em;
}

.social svg{
    width: 2rem;
    color: white;
}

.social li{
    list-style: none;
}

.social svg:hover{
    color:black;
}

